@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* https://fkhadra.github.io/react-toastify/how-to-style/ */
.Toastify__toast--warning {
  font-weight: 600;
}
.Toastify__toast--error {
  font-weight: 600;
}
.Toastify__toast--success {
  font-weight: 600;
}
.Toastify__toast--info {
  font-weight: 600;
}
